<!doctype html>
<html>
<head>
	<title>login page</title>
	<style type="text/css">
	form {width: 200px;height: 200px;margin: 0 auto;background-color: #f1f1f1;border-color: #eee;
		border-width: 1px;border-radius: 2;}
	form div {margin: 10px;}
	</style>
</head>
<body>
<form action="login" method="post">
<div>
userName:<br>
<input type="text" name="userName"/></div>
<div>password:<br>
<input type="password" name="password" /></div>
<div><input type="submit" value="login" /></div>
</form>
</body>
</html>
